@model CadastroUsuario.Models.Usuario



@{
    ViewData["Title"] = "Entrou";
}

<h2>Bem vindo </h2>

<dt class="col-sm-2">
            
        </dt>
        <dt class="col-sm-10">
           <p> Olá, @Html.DisplayFor(x => x.Nome) , seja bem vindo</p>
        </dt>
