@model CadastroUsuario.Models.Usuario

@{
    ViewData["Title"] = "Recuperar a senha";
}

<h1>Recuperar a senha</h1>

<br/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Logar">
            <div class="form-grup"> 
                <label asp-for="Email" class="control-lable"></label>
                <input asp-for="Email" class="form-control"/>
            </div>
        </form>
    </div>
</div>
<br>
<a asp-action="Index">Cadastrar</a>
<a asp-action="Login">Voltar</a>